.alert-transition-enter {
  opacity: 0;
}

.alert-transition-enter-active {
  opacity: 1;
  transition: opacity .4s ease-in-out;
}

.alert-transition-exit-active {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  
}